.a4 {
  padding: 96px 96px 0 96px;
  width: 601px;
  height: 800px;
  background-color: #fff;
  text-align: center;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
