@media screen and (max-width: 425px) {
  .header {
    padding: 10px;
    text-align: center;
    background: linear-gradient(to right, #1abc9c, #bc398a);
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* Container needed to position the overlay. Adjust the width as needed */
  .container {
    position: relative;
    width: 50%;
    max-width: 300px;
    .image-overlay {
      width: 100%;
      object-fit: cover;
    }
  }

  /* Make the image to responsive */
  .image {
    display: block;
    width: 100%;
    height: auto;
  }

  /* The overlay effect - lays on top of the container and over the image */
  .overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }

  /* When you mouse over the container, fade in the overlay title */
  .container:hover .overlay {
    opacity: 1;
  }
  ::ng-deep {
    span.mat-button-wrapper {
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;
    }
  }
} ;
