<div class="header">
    <h1>Welcome to Sok Kim Thanh CV</h1>
    <p>Thanh Kim Sok - Front-End Developer.docx</p>
    <div class="container">
        <a href="assets/document/Thanh Kim Sok - Front-End Developer.docx" download>
            <img src="assets/images/cv.png" alt="cv-sokkimthanh-front-end-developer.docx" width="200px">
        </a>
        <div class="overlay">
            <a class="download-button" mat-button href="assets/document/Thanh Kim Sok - Front-End Developer.docx" download>
                <mat-icon>download</mat-icon>
                <p>GET CV</p>
            </a>
        </div>
    </div>
</div>