.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;

  background: #1abc9c;
  background: -webkit-linear-gradient(to right, #1abc9c, #bc398a);
  background: linear-gradient(to right, #1abc9c, #bc398a);

  color: white;
  font-size: 30px;
}
