.footer {
  // position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: -webkit-linear-gradient(to right, #bc9239, #6939bc);
  background: linear-gradient(to right, #bc9239, #6939bc);
  min-height: 20vh;
  color: white;
  text-align: center;
  padding: 60px;
  font-size: 30px;
}
