@media screen and (max-width: 425px) {
  .mainbox {
    background: linear-gradient(to top, #95c2de, #a395de, #95deb1);
    margin: auto;
    height: 600px;
    width: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  .err {
    color: #ffffff;
    font-family: "Nunito Sans", sans-serif;
    font-size: 7rem;
    text-align: center;
  }
  .mat-icon {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: auto;
    width: auto;
  }
  .fa-spin {
    font-size: 5.5rem;
  }

  .msg {
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.2rem;
    width: 100%;
  }

  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    text-decoration: underline;
  }
}
