@media screen and (min-width: 425px) {
  .paragraph {
    font-weight: normal;
    font-style: normal;
    vertical-align: baseline;
    font-family: Calibri, "Segoe UI", Tahoma, Verdana, Sans-Serif;
    font-kerning: none;
    background-color: transparent;
    // color: windowtext;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-indent: 0px;
    font-size: 6pt;
    width: auto;
    height: auto;
    .fullname {
      color: rgb(89, 89, 89);
      font-size: 33pt;
      text-transform: uppercase;
      line-height: 53px;
      font-family: Georgia, "Segoe UI", Tahoma, Verdana, Sans-Serif;
    }
    .contact {
      color: rgb(89, 89, 89);
      font-size: 11pt;
      line-height: 18px;
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
  }
  .email {
    color: rgb(44, 92, 133);
    text-decoration: underline;
    font-size: 11pt;
    font-family: WordVisi_MSFontService, Calibri, Calibri_EmbeddedFont,
      Calibri_MSFontService, sans-serif;
    line-height: 18px;
  }
}
