@media screen and (max-width: 425px) {
  ::ng-deep {
    .owl-theme .owl-nav.disabled + .owl-dots {
      margin-top: 0;
      margin-bottom: 30px;
      overflow: auto;
    }
    .owl-theme .owl-dots {
      -webkit-tap-highlight-color: transparent;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
    }
    .owl-theme .owl-dots .owl-dot {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      /* margin-right: 5px; */
    }
    .owl-theme .owl-dots .owl-dot span {
      height: 54px;
      width: 100%;
      margin-right: 20px;
      background: rgba(142, 144, 162, 0.5);
      color: #1d824c;
      font-size: 13pt;
      text-transform: uppercase;
      line-height: 22px;
      font-weight: bold;
      border-radius: 5px;
      padding: 5px;
    }
    .owl-theme .owl-dots .owl-dot.active span,
    .owl-theme .owl-dots .owl-dot:hover span {
      color: #1d824c;
      background: linear-gradient(#fff, #fff),
        linear-gradient(to right, #1d824c, #bc398a);
      background-origin: padding-box, border-box;
      background-repeat: no-repeat; /* this is important */
      border: 3px solid transparent;
    }
  }
}
