<div class="container" *ngIf="slidesStore">
    <h3 class="title-section">WORK EXPERIENCE</h3>
    <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let slide of slidesStore">
            <ng-template carouselSlide [id]="slide.id" [dotContent]="slide.fromdate!">
                <div>
                    <h4 class="title-time">{{slide.fromdate}} – {{slide.todate}}</h4>
                    <ul class="title-address" *ngIf="slide.address!.length>1">
                        <li *ngFor="let address of slide.address">
                            <h5>{{address.name}}</h5>
                        </li>
                    </ul>
                    <ul class="title-address-none" *ngIf="slide.address!.length===1">
                        <li *ngFor="let address of slide.address">
                            <h5>{{address.name}}</h5>
                        </li>
                    </ul>
                    <ul class="list-item">
                        <li class="item"><b class="bold-item">Role: </b>
                            <span *ngFor="let role of slide.role">{{role.name}}</span>
                        </li>
                        <li class="item"><b class="bold-item">Team size: </b>
                            <span>{{slide.teamsize}}</span>
                        </li>
                        <li class="item"><b class="bold-item">Tasks: </b>
                            <span *ngFor="let task of slide.task">{{task.name}}</span>
                        </li>
                        <li class="item">
                            <div>
                                <b class="bold-item">Achievements: </b>
                                <span *ngFor="let achievement of slide.achievement"> {{achievement.name}}</span>
                            </div>
                        </li>
                        <li class="item"> <b class="bold-item">Technologies used: </b>
                            <span *ngFor="let technology of slide.technology"> {{technology.name}}</span>
                        </li>
                        <li class="item"><b class="bold-item">Tools used:</b>
                            <span *ngFor="let tool of slide.tool">{{tool.name}}</span>
                        </li>
                    </ul>
                </div>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
</div>