<div class="container">
    <h3>WORK EXPERIENCE</h3>
    <h4>DECEMBER, 2020 – FEBRUARY, 2021</h4>
    <ul>
        <li>
            <h5>INNOTECH, 33 Ba Vi, Ward 4, Tan Binh, Ho Chi Minh City</h5>
        </li>
        <li>
            <h5>Manulife Plaza Building, 75 Hoang Van Thai, Tan Phu Ward, Dist. HCM City (on-site)</h5>
        </li>
    </ul>
    Role: Front-End  

    Team size: 5 

    Tasks: Standing daily meeting, Catchup meeting 

    Achievements: Experience basic with SCSS Styling website, Flex Layout, Angular Material, 

    Ng-x-owl-carousel, picture upload styling custom component 

    Projects: Manulife's insurance website 

    Technologies used: TypeScript, RxJS, Angular, ng CLI, HTML, SCSS, Flex Layout, Angular Material 

    Tools used: VS Code, Source Tree, JIRA 
</div>