@media screen and (max-width: 425px) {
  .container {
    text-align: left;
    height: 350px;
    font-family: Calibri, "Segoe UI", Tahoma, Verdana, Sans-Serif;
  }
  .title-section {
    color: rgb(38, 38, 38);
    font-size: 14pt;
    text-transform: uppercase;
    line-height: 21px;
    font-weight: bold;
    font-family: Georgia, "Segoe UI", Tahoma, Verdana, Sans-Serif;
  }
  .title-time {
    color: rgb(29, 130, 76);
    font-size: 13pt;
    text-transform: uppercase;
    line-height: 22px;
    font-weight: bold;
  }
  .title-address {
    color: rgb(89, 89, 89);
    font-size: 11pt;
    font-variant: small-caps;
    line-height: 18px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
  }
  .title-address-none {
    color: rgb(89, 89, 89);
    font-size: 11pt;
    font-variant: small-caps;
    line-height: 18px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
  }
  .bullet {
    padding-left: 1px;
    margin-left: 16px;
  }
  .no-bullet {
    padding-left: 1px;
    margin-left: 0;
    list-style-type: none;
  }
  .list-item {
    color: rgb(89, 89, 89);
    list-style-type: none;
    font-size: 12pt;
    line-height: 19px;
    padding-left: 1px;
    .item::marker {
      list-style: none;
    }
  }
  .bold-item {
    font-weight: bold;
  }
  .mat-card {
    border: none;
    width: auto;
    padding: 0;
  }
}
